
:root {
    font-size: 16px;
}

.static_title {
    font-size: 4rem;
    text-align: center;
}

.background_image {
    background-size: 100%;
    background-repeat: no-repeat;
}

.content {
    display: grid;
    grid-template-rows: 1fr 4frfr;
}

.character_area {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.main_play {
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.hp {
    text-align: center;
    background: white;
}

#blaster {
    justify-content: center;
    width: 50%;
}

#lightsaber {
    justify-content: center;
    width: 15%;
}